.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
  }
  
  .logo_place_header {
    width: 228px;
    height: 32px;
    margin-top: 30px;
    margin-left: 64px;
  }
  
  .header__title {
    z-index: 3;
    width: 900px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    margin-left: 64px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .header__subtitle {
    z-index: 3;
    width: 338px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-left: 64px;
    margin-bottom: 33px;
  }
  
  .subtitle_link {
    color: #2f80ed;
  }

  .main-illustration {
    position: absolute;
    width: 765px;
    height: 608px;
    right: 0px;
    bottom: 0px;
  }
  
  .header__square-pic {
    height: 568px;
    width: 568px;
    margin-top: 64px;
    background-color: #2f80ed;
  }
  
  .description {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }
  
  .two-columns {
    display: flex;
    justify-content: space-between;
    min-width: 784px;
    width: 80%;
    height: 100%;
  }
  
  .brief {
    width: 175px;
    height: 100%;
    margin: 0 0;
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
  }
  
  .main-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-width: 794px;
    width: 80%;
    line-height: 34px;
    font-size: 24px;
  }
  
  .paragraph {
    margin: 0 0;
  }
  
  .span-accent {
    font-weight: 600;
  }
  
  .digits {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .section__title {
    text-align: center;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    margin: 0 auto 20px auto;
  }

  .section__subtitle {
    text-align: center;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
    padding: auto;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 1100px;
    row-gap: 60px;
    margin: 0 auto;
    padding-top: 60px;
  }

  .cell {
    width: 250px;
  }

  .heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 20px auto;
  }

  .feynman {
    position: relative;
    height: 890px;
    background-image: url(../images/feynman.png);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    z-index: -3;
    background-color: #f2f2f2;
    padding-top: 100px;
  }

  .title {
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto 70px auto;
  }

  .subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
  }

  .link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    right: 48px;
    top: auto;
    bottom: auto;
  }

  .kaufman {
    background-color: #1f1f1f;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
  }

  .section__title_theme_dark {
    color: white;
  }

  .section__subtitle_theme_dark {
    color: white;
  }

  .table__theme_dark {
    list-style: none;
  }
  
  .cell__theme_dark {
    width: 200px;
    z-index: 3;
  }

  .heading__theme_dark {
    color: white;
  }

  .text__theme_dark {
    color: white;
  }

  .triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    z-index: 0;
    top: 0;
    right: -210px;
  }

  .footer {
    min-height: 350px;
    background-color: #1f1f1f;
  }

  .columns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .column__content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }

  .logo_place_footer {
    width: 228px;
    height: 32px;
  }

  .author {
    line-height: 25px;
    font-size: 18px;
    color: white;
    margin: 18px 0;
  }

  .column__heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 0 0;
  }

  .column__link {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .column__links {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
  }

  .column__links_social {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #f2f2f2;
  }

  .social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }